
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Cox.ViewModels.LostPasswordViewModel


<h5 class="tab">Password Reset</h5>
<div class="tab_separation" style="z-index:-1;"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }
    <fieldset>
        @*<legend>Lost Password Form</legend>*@
        
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            
        <input type="submit" value="Reset Password" />
    </fieldset>
}

