
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $(".dialog").dialog({
             autoOpen: false, modal: true, show: "blind", hide: "blind"
         });

         // next add the onclick handler
         $(".help-dialog").click(function () {
             var dialogID = "#dialog-" + this.id;
             alert(dialogID);
             $(dialogID).dialog("open");
             return false;
         });
        });
</script>



@model Cox.ViewModels.CategoryViewModel

<p>Category Description</p>


@using (Html.BeginForm("SaveAndContinue", "Category", FormMethod.Post))
{
<table class="assessment cat-6" cellspacing="0">
    <tbody>
        <tr>
            <th>@Model.category.Name</th>
            



            @foreach (var task in Model.tasks)
            {
                <th><div>@task.Name</div><a href="#" id="@task.ID" class="help-dialog"><div class="help"></div></a>
                    
                    <div class="dialog" id="dialog-@task.ID" title="@task.Name">
                        <p>@task.Name</p>
                    </div>
                </th>
            }




           
        </tr>
        @foreach (var topic in Model.topics)
        {


            <tr>
                <td>@topic.Name</td>
                @foreach (var task in Model.tasks)
                {
                    
               
                    string input_name = "To" + topic.ID + "Ta" + task.ID;
                 
                    <td class="decision"><label for="@input_name"></label>

                    @if (Model.userResponses.Count > 0)
                    {
                        bool match = false;
                        foreach (var response in Model.userResponses)
                        {
                            if (response.Topic_ID == topic.ID && response.Task_ID == task.ID)
                            {
                                match = true;
                                <input type="checkbox" name="@input_name" id="@input_name" checked>
                                break;
                            }
                        }

                        if (!match)
                        {
                            <input type="checkbox" name="@input_name" id="@input_name">
                        }
                    }
                    else
                    {
                        <input type="checkbox" name="@input_name" id="@input_name">
                    }
                    <div class="decision-input"></div></td>
                }
            </tr>



        }
    </tbody>
</table>
    <br /><br />
<center>
    @if (Session["currentseq"] == null || ((int)Session["currentseq"]) == 1)
    {
        <input type="submit" value="Previous" name="action:Previous" disabled />
    }
    else
    {
        <input type="submit" value="Previous" name="action:Previous" />
    }
    @if (Model.IsLastCategory)
    {
        <input type="submit" value="Save and Submit" name="action:Next" />
    }
    else
    {
        <input type="submit" value="Save and Continue" name="action:Next" />
    }
</center>
}



