
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Cox.ViewModels.ReportViewModel

<style>
    p{
        font-weight:normal;
    }
    img.square{
        width:15px;
    }
</style>

<h5 class="tab">Individual Learning Plan</h5>
<div class="tab_separation"></div>

<p><strong>Thank you for completing the Learning Assessment!</strong></p>
<p>
    @*Thank you for completing the Order Management Learning Assessment!  Based on your responses, 
    your Individual Learning Plan (ILP) includes only the learning activities you need to complete for 
    a successful transition to your new role as an Order Management Specialist.*@

    Your <strong>Individual Learning Plan</strong> has been generated based on your Assessment responses, and 
    identifies only the learning activities you need for a successful transition to your new role as 
    an Order Management Specialist.
</p>
<p>
    @*Required learning activities in your ILP that you need to complete are identified with an ⌧ for every OM product, 
    process, and tool task. Learning activities include completing courses in Cox U and customized self-directed activities 
    as outlined in the Self-Directed Learning Guide for In-Market Order Management Specialists. In areas where you are already 
    proficient, a ☐ identifies optional learning activities.*@
    In consultation with your Supervisor, complete the identified learning activities in your Individual Learning Plan using the <strong>
    Self-Directed Learning Guide for Order Management Specialists.</strong> Refer to this Guide for detailed information on self-directed 
    learning activities for every product, process, and support tool task. To download a copy of the Guide, go to…
</p>
<p>
    @*All learning activities must be completed in consultation with your Supervisor.  Download or email your ILP using the tools on this page, 
    and share a copy with your Supervisor.*@
    Your Individual Learning Plan appears below. Please also download your Plan using this link and share a copy with your Supervisor.
</p>

@using (Html.BeginForm("DownloadPDF", "Report", FormMethod.Post))
{
    <input type="submit" value="Individual Learning Plan Download PDF" name="action:Download" Style="white-space:pre-line;width:200px; font-weight: bold; text-align:center;" />
}

@foreach (var category in Model.Categories)
{
    <h5 class="tab">@category.Name</h5>
    <div class="tab_separation"></div>
    @*<p>
        Your <i>Individual Learning Plan</i> for @category.Name tasks is shown below.Complete the <img src="@Url.Content("~/Images/square_x.png")" class="square" /> identified learning activities
     listed in consultation with your Supervisor.Refer to the Self - Directed Learning Guide for full information on all learning activities.
    </p>

    <p><span class="check-big">✓</span>  Tasks marked with a <span class="check">✓</span> indicate proficiency and no additional training is required.Optional learning activities are identified with a <img src="@Url.Content("~/Images/square.png")" class="square" /> and listed in order of priority.</p>
    <p><span class="cross-big">X</span> Tasks marked with an <span class="cross">X</span> indicate additional training is needed.Learning activities required for each task are identified with an <img src="@Url.Content("~/Images/square_x.png")" class="square" /> and are listed in order of priority.</p>*@


    if (category.Name.ToLower().Contains("order management processes"))
    {
        <p>Your Individual Learning Plan for <strong>@category.Name</strong> for the five primary categories of Cox Business products is shown below.</p>
    }
    else
    {
        <p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>
    }


    <ul>
        <li>A <span class="cross-big">Training Needed</span> rating in the <i>Your Rating</i> column identifies the learning activaties you need to complete using the Self-Directed Learning Guide.</li>

        <li>
            A <span class="check-big">Proficient</span> rating indicates no additional training is needed, and optional learning activities are listed.
        </li>        


    </ul>


    if (Model.CategoryTasks[category.ID].Count == 1)
    {
        int taskID = Model.CategoryTasks[category.ID].First().ID;
            <table cellspacing = "5" class="report-grid">
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Your Rating</td>
                        @*<td>
                            Learning Activities<br />
                            (Complete the <img src = "@Url.Content("~/Images/square_x.png")" class="square" /> identified learning activities below.
                              Activities with a <img src = "@Url.Content("~/Images/square.png")" class="square" /> are optional.)
                        </td>*@
                        <td>Go to this section in your Self-Directed Learning Guide...</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var topic in category.Topics)
                    {
                        bool match_special = false;
                        <tr>
                            <td class="task-column">@topic.Name</td>
                            <td class="rating-column">

                                @foreach(var response in Model.UserResponses)
                                {

                                    if (response.Topic_ID == topic.ID && response.Task_ID == taskID)
                                    {
                                        match_special = true;
                                        <span class="check-big">Proficient ✓</span>
                                        break;
                                    }

                                }

                                @if(!match_special)
                                {
                                    <span class="cross-big">Training Needed</span>
                                }
                            </td>
                            <td class="course-column">
                                @foreach(var course in Model.Courses)
                                {
                                    if (course.Task_ID == taskID && course.Topic_ID == topic.ID)
                                    {
                                        if (match_special)
                                        {
                                            <p>- @course.Cours.Title</p>
                                        }
                                        else
                                        {
                                            <p><strong>- @course.Cours.Title</strong></p>
                                        }

                                    }
                                }
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            <br /><br />
    }
    else
    {
        foreach (var topic in category.Topics)
        {
            <table cellspacing = "5" class="report-grid">
                <thead>
                    <tr>

                            <td>Product</td>




                        <td>Task</td>
                        <td>Your Rating@*<br /><span class="check">✓=proficient</span><br /><span class="cross">X=need training</span>*@</td>
                        @*<td>
                            Learning Activities<br />
                            (Complete the <img src = "@Url.Content("~/Images/square_x.png")" class="square" /> identified learning activities below.
                              Activities with a <img src = "@Url.Content("~/Images/square.png")" class="square" /> are optional.)
                        </td>*@
                        <td>Go to this section in your Self-Directed Learning Guide...</td>
                    </tr>
                </thead>
                <tbody>



                        @foreach(var task in Model.CategoryTasks[category.ID])
                        {
                            bool match = false;

                            <tr>
                                @if(task.Sequence == 1)
                                {
                                    <td class="product-column" rowspan="@Model.CategoryTasks[category.ID].Count">@topic.Name</td>
                                }



                                <td class="task-column">@task.Name</td>
                                <td class="rating-column">

                                    @foreach(var response in Model.UserResponses)
                                    {
                                        if (response.Topic_ID == topic.ID && response.Task_ID == task.ID)
                                        {
                                            match = true;
                                            <span class="check-big">Proficient ✓</span>
                                            break;
                                        }

                                    }

                                    @if(!match)
                                    {
                                        <span class="cross-big">Training Needed</span>
                                    }
                                </td>
                                <td class="course-column">
                                    @foreach(var course in Model.Courses)
                                    {
                                        if (course.Task_ID == task.ID && course.Topic_ID == topic.ID)
                                        {
                                            if (match)
                                            {
                                                <p>- @course.Cours.Title</p>
                                            }
                                            else
                                            {
                                                <p><strong>- @course.Cours.Title</strong></p>
                                            }

                                        }
                                    }
                                </td>
                            </tr>
                        }



                </tbody>
            </table>
            <br /><br />
    }

}

}