
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Cox.ViewModels.ReportViewModel


<style>
    p{
        font-weight:normal;
    }
    img.square{
        width:15px;
    }
</style>

<h5 class="tab">Individual Learning Plan</h5>
<div class="tab_separation"></div>

<table class="user-profile">
    <tr>
        <td style="text-align:left; border:0;"><strong>Name: </strong></td>
        <td style="text-align:left; border:0; padding-left:5px;">@Model.Username</td>
    </tr>
    <tr>
        <td style="text-align:left; border:0;"><strong>Supervisor: </strong></td>
        <td style="text-align:left; border:0; padding-left:5px;">@Model.SupervisorName</td>
    </tr>
    <tr>
        <td style="text-align:left; border:0;"><strong>Date: </strong></td>
        <td style="text-align:left; border:0; padding-left:5px;">@Model.ReportDate.ToShortDateString()</td>
    </tr>
</table>
<br /><br />


<p>
    Thank you for completing the Order Management Specialist Learning Assessment! Your Individual Learning Plan 
    has been generated based on your assessment responses, and identifies only the learning activities you need for a 
    successful transition to your new role. 
</p>

<p><strong>Interpreting your Individual Learning Plan:</strong></p>
<ul>
    <li>A <span class="cross-big">Training Needed</span> rating identifies the order management product areas in need of further training. Refer to the product's section
     of the <i>Self-Directed Learning Guide</i> for more information and learning activities. </li>

    <li>
        A <span class="check-big">Proficient</span> rating indicates no additional training is needed for a product. Refer to the product’s section of the Self-Directed Learning Guide for optional learning activities. 
    </li>


</ul>

<p>
    In consultation with your Supervisor, complete the identified learning activities in your Individual Learning Plan using the Self-Directed Learning Guide for Order Management Specialists. 
    For each Cox product, learning activities can include courses, document review, and side-by-sides for each task related to order management. 
</p>

<p><strong>Example</strong></p>
<p>
    In the example below, the Individual Learning Plan indicates proficiency in Managed Services for <i>Managed 
    Router and Security and DDoS Migration</i>, while for <i>Managed Wi-Fi (SMB)</i> additional training is needed for multiple tasks. 
</p>
<p>
    The Order Management Specialist should refer to the <strong>Managed Services</strong> section of the <strong>Self-Directed Learning Guide</strong> for specific 
    learning activities to complete for <i>Managed Wi-Fi (SMB)</i>. 
</p>

<img src="@Url.Content("~/Images/example.JPG")" alt="Example">



@*@using (Html.BeginForm("DownloadPDF", "Report", FormMethod.Post))
{
    <input type="submit" value="Individual Learning Plan Download PDF" name="action:Download" Style="white-space:pre-line;width:200px; font-weight: bold; text-align:center;" />
}*@

<br />

<h3 style="font-weight:bold;">Individual Learning Plan</h3>
<p>For all products and tasks where additional training is needed, refer to the appropriate section of the Self-Directed Learning Guide. </p>


@foreach (var category in Model.Categories)
{
    if (category.Name == "Support Tools") { continue; }
    if (Model.CategoryTasks[category.ID].Count == 1)
    {
        bool isValidRegion = false;
        int taskID = Model.CategoryTasks[category.ID].First().ID;
        foreach (var response in Model.UserResponses)
        {
            if (response.Task_ID == taskID)
            {
                isValidRegion = true;
                break;
            }
        }

        if (!isValidRegion)
        {
            continue;
        }

    }

    <h5 class="tab">@category.Name</h5>
    <div class="tab_separation"></div>
    @*<p>
        Your <i>Individual Learning Plan</i> for @category.Name tasks is shown below.Complete the <img src="@Url.Content("~/Images/square_x.png")" class="square" /> identified learning activities
     listed in consultation with your Supervisor.Refer to the Self - Directed Learning Guide for full information on all learning activities.
    </p>

    <p><span class="check-big">✓</span>  Tasks marked with a <span class="check">✓</span> indicate proficiency and no additional training is required.Optional learning activities are identified with a <img src="@Url.Content("~/Images/square.png")" class="square" /> and listed in order of priority.</p>
    <p><span class="cross-big">X</span> Tasks marked with an <span class="cross">X</span> indicate additional training is needed.Learning activities required for each task are identified with an <img src="@Url.Content("~/Images/square_x.png")" class="square" /> and are listed in order of priority.</p>*@


    if (category.Name.ToLower().Contains("order management processes"))
    {
        @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> for the five primary categories of Cox Business products is shown below.</p>*@
        <p>Your Individual Learning Plan for <i>@category.Name</i> for the five primary Cox Business product categories is shown below. 
        If training is needed in an OM process, visit the appropriate product category section of the Self-Directed Learning Guide 
        for more information and learning activities. </p>
    }
    else if (category.Name.ToLower().Contains("video products"))
    {
        @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
        <p>Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed 
            for a video product, visit the appropriate section of the Self-Directed Learning Guide for 
            more information and learning activities. </p>
}

else if (category.Name.ToLower().Contains("internet and web products"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for an internet or web product, visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}
else if (category.Name.ToLower().Contains("voice services - simple"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for a simple voice services product, visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}
else if (category.Name.ToLower().Contains("voice services - complex"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for a complex voice services product, visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}
else if (category.Name.ToLower().Contains("other voice services"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for a voice services product, visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}
else if (category.Name.ToLower().Contains("managed services"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for @category.Name.ToLower(), visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}
else if (category.Name.ToLower().Contains("networking services"))
{
    @*<p>Your Individual Learning Plan for <strong>@category.Name</strong> is shown below.</p>*@
    <p>
        Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
        for @category.Name.ToLower(), visit the appropriate section of the Self-Directed Learning Guide for
        more information and learning activities.
    </p>
}




if (Model.CategoryTasks[category.ID].Count == 1)
{
    int taskID = Model.CategoryTasks[category.ID].First().ID;

        <p style="width:40%; margin-bottom:-120px;">
            Your Individual Learning Plan for <i>@category.Name</i> is shown below. If training is needed
            for support services, visit the appropriate section of the Self-Directed Learning Guide for
            more information and learning activities.
        </p>

        <table class="assessment cat-6" cellspacing="0" style="margin-left:50%;">
            <tbody>
                <tr>
                    <th></th>
                    <th>
                        <div>@Model.CategoryTasks[category.ID].First().Name</div>


                    </th>
                    <th style="background-color:transparent; border:none; width:60%;"></th>

                </tr>
                @foreach (var topic in category.Topics)
                {


                    <tr>
                        <td>
                            <div>@topic.Name</div>



                            



                        </td>
                        @foreach (var task in Model.CategoryTasks[category.ID])
                        {


                            //string input_name = "To" + topic.ID + "Ta" + task.ID;

                            @*<td class="decision">*@
                                @*<label for="@input_name"></label>*@

                        if (Model.UserResponses.Count > 0)
                        {
                            bool match = false;
                            foreach (var response in Model.UserResponses)
                            {
                                if (response.Topic_ID == topic.ID && response.Task_ID == task.ID)
                                {
                                    match = true;
                                    <td class="proficient-cell" style="height:100px; font-size:15pt;">Proficient</td>
                                            @*<input type="checkbox" name="@input_name" id="@input_name" checked>*@
                                break;
                            }
                        }

                        if (!match)
                        {
                            <td class="training-cell" style="height:100px; font-size:15pt;">Training Needed</td>
                                        @*<input type="checkbox" name="@input_name" id="@input_name">*@
                            }
                        }
                        else
                        {
                            <td class="training-cell" style="height:100px; font-size:15pt;">Training Needed</td>
                                    @*<input type="checkbox" name="@input_name" id="@input_name">*@
                                }
                                @*<div class="decision-input"></div>
                            </td>*@
                        }
                    </tr>



                }
            </tbody>
        </table>
        <br /><br />
    }
    else
    {

        <table class="assessment cat-6" cellspacing="0">
            <tbody>
                <tr>
                    <th></th>
                    @foreach (var task in Model.CategoryTasks[category.ID])
                    {
                        <th>
                            <div>@task.Name</div>


                        </th>
                    }





                </tr>
                @foreach (var topic in category.Topics)
                {


                    <tr>
                        <td>@topic.Name</td>
                        @foreach (var task in Model.CategoryTasks[category.ID])
                        {


                            string input_name = "To" + topic.ID + "Ta" + task.ID;

                            @*<td>*@
                            @*<label for="@input_name"></label>*@

                        if (Model.UserResponses.Count > 0)
                        {
                            bool match = false;
                            foreach (var response in Model.UserResponses)
                            {
                                if (response.Topic_ID == topic.ID && response.Task_ID == task.ID)
                                {
                                    match = true;
                                    @*<input type="checkbox" name="@input_name" id="@input_name" checked  disabled>*@
                                    <td class="proficient-cell" style="height:100px; font-size:15pt;">Proficient</td>
                                    break;
                                }
                            }

                            if (!match)
                            {
                                @*<input type="checkbox" name="@input_name" id="@input_name"  disabled>*@
                                <td class="training-cell" style="height:100px; font-size:15pt;">Training Needed</td>
                            }
                        }
                        else
                        {
                            @*<input type="checkbox" name="@input_name" id="@input_name"  disabled>*@
                            <td class="training-cell" style="height:100px; font-size:15pt;">Training Needed</td>
                        }
                        @*<div class="decision-input"></div>*@
                            @*</td>*@
                        }
                    </tr>



                }
            </tbody>
        </table>
        <br /><br />
    }

}